$primary: #296752;
$secondary: #296752;
$white: #ffffff;
$black: #1a1a1a;

$header-logo-width: 280px;
$meter-width: 680px;
$pillar-width: 160px;
$wave-width: 180px;
$mic-width: 120px;

$transition: all 0.3s ease;
