.home {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;

  background: url("../../assets/images/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  overflow: hidden;
}

.content {
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
