@use "./../../styles/abstracts/variables" as *;

.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 20px;

  &__logo {
    width: 35vh;
    object-fit: contain;
  }

  &__title {
    margin-top: 3vh;

    font-size: 8vh;
    font-weight: 700;
    letter-spacing: 2px;

    color: $primary;
    text-transform: uppercase;
  }

  &__subtitle {
    margin-top: 1vh;

    display: flex;
    align-items: center;
    gap: 20px;

    span {
      width: 80px;
      height: 2px;
      background: $secondary;
    }

    p {
      font-size: 3.5vh;
      font-weight: 600;
      color: $secondary;
      letter-spacing: 2px;
    }
  }
}
